TravelAgencySoapBpel/src/localhost_8080/NiceView/NiceViewService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NiceView.WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NiceView" targetNamespace="http://NiceView.WS">
    <types>
        <xsd:schema xmlns:tns="http://NiceView.WS" targetNamespace="http://NiceView.WS">
            <xsd:element name="cancelHotelFault" type="xsd:string"/>
            <xsd:complexType name="hotelType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"/>
                     <xsd:element name="adress" type="xsd:string"/>
                      <xsd:element name="bookingNR" type="xsd:string"/>
                       <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelInput">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrival" type="xsd:date"/>
                    <xsd:element name="departure" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelInputs" type="tns:getHotelInput"/>
            <xsd:complexType name="getHotelOutput">
                <xsd:sequence>
                    <xsd:element name="hotelType" type="tns:hotelType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expDate" type="tns:expDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"/>
            <xsd:element name="bookHotelFault" type="xsd:string"/>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"/>
            <xsd:complexType name="expDate">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"/>
                    <xsd:element name="year" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsFault" type="xsd:string"/>
            <xsd:complexType name="bookHotelInput">
                <xsd:sequence>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="creditCardInformation" type="tns:creditCardInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelInput" type="tns:bookHotelInput"/>
            <xsd:element name="cancelHotelInput" type="xsd:string"/>
            <xsd:element name="getHotelsOutput" type="tns:getHotelOutput"/>
            <xsd:complexType name="HotelInformation">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="pricePerNight" type="xsd:double"/>
                    <xsd:element name="adress" type="xsd:string"/>
                    <xsd:element name="CreditCardReqiured" type="xsd:boolean"/>
                    <xsd:element name="HotelReservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInformationList">
                <xsd:sequence>
                    <xsd:element name="HotelInformation" type="tns:HotelInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="BookHotelFault">
        <part name="bookHotelFault" element="tns:bookHotelFault"/>
    </message>
    <message name="CancelHotelFault">
        <part name="cancelHotelFault" element="tns:cancelHotelFault"/>
    </message>
    <message name="GetHotelListFault">
        <part name="getHotelListFault" element="tns:getHotelsFault"/>
    </message>
    <message name="NiceViewOperationRequest1">
        <part name="input2" element="tns:cancelHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse1">
        <part name="output" element="tns:cancelHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest4">
        <part name="input1" element="tns:getHotelInputs"/>
    </message>
    <message name="NiceViewOperationResponse4">
        <part name="output1" element="tns:getHotelsOutput"/>
    </message>
    <message name="NiceViewOperationRequest">
        <part name="input2" element="tns:bookHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse">
        <part name="output2" element="tns:bookHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest2">
        <part name="input2" element="tns:bookHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse2">
        <part name="output2" element="tns:bookHotelOutput"/>
    </message>
    <portType name="NiceViewPort">
        <operation name="cancelHotel">
            <input name="input3" message="tns:NiceViewOperationRequest1"/>
            <output name="output3" message="tns:NiceViewOperationResponse1"/>
            <fault name="cancelHotelFault" message="tns:CancelHotelFault"/>
        </operation>
        <operation name="getHotelsList">
            <input name="input1" message="tns:NiceViewOperationRequest4"/>
            <output name="output1" message="tns:NiceViewOperationResponse4"/>
            <fault name="getHotelListFault" message="tns:GetHotelListFault"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:NiceViewOperationRequest2"/>
            <output name="output2" message="tns:NiceViewOperationResponse2"/>
            <fault name="bookHotelFault" message="tns:BookHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortBinding" type="tns:NiceViewPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelFault">
                <soap:fault name="cancelHotelFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getHotelsList">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="getHotelListFault">
                <soap:fault name="getHotelListFault" use="literal"/>
            </fault>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelFault">
                <soap:fault name="bookHotelFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPortBindingPort" binding="tns:NiceViewPortBinding">
            <soap:address location="http://localhost:8080/NiceView/NiceViewService"/>
        </port>
    </service>
</definitions>