HotelClient/xml-resources/web-service-references/NiceViewService/wsdl/desktop-nbfivfi_8080/NiceView/NiceViewService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NiceView.WS" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="NiceView" targetNamespace="http://NiceView.WS">
    <types>
        <xsd:schema xmlns:tns="http://NiceView.WS" targetNamespace="http://NiceView.WS">
            <xsd:element name="cancelHotelFault" type="xsd:string"/>
            <xsd:complexType name="hotelType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"/>
                     <xsd:element name="adress" type="xsd:string"/>
                      <xsd:element name="bookingNR" type="xsd:string"/>
                       <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelInput">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrival" type="xsd:date"/>
                    <xsd:element name="departure" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelInputs" type="tns:getHotelInput"/>
            <xsd:complexType name="getHotelOutput">
                <xsd:sequence>
                    <xsd:element name="hotelType" type="tns:hotelType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"/>
                    <xsd:element name="8digitNumber" type="xsd:string"/>
                    <xsd:element name="expDate" type="tns:expDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"/>
            <xsd:element name="bookHotelFault" type="xsd:string"/>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"/>
            <xsd:complexType name="expDate">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"/>
                    <xsd:element name="year" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsFault" type="xsd:string"/>
            <xsd:complexType name="bookHotelInput">
                <xsd:sequence>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="CreditCardInformation" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelInput" type="tns:bookHotelInput"/>
            <xsd:element name="cancelHotelInput" type="xsd:string"/>
            <xsd:element name="getHotelsOutput" type="tns:getHotelOutput"/>
            <xsd:complexType name="HotelInformation">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="pricePerNight" type="xsd:double"/>
                    <xsd:element name="adress" type="xsd:string"/>
                    <xsd:element name="CreditCardReqiured" type="xsd:boolean"/>
                    <xsd:element name="HotelReservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInformationList">
                <xsd:sequence>
                    <xsd:element name="HotelInformation" type="tns:HotelInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="BookHotelFault">
        <part name="bookHotelFault" element="tns:bookHotelFault"/>
    </message>
    <message name="CancelHotelFault">
        <part name="cancelHotelFault" element="tns:cancelHotelFault"/>
    </message>
    <message name="GetHotelListFault">
        <part name="getHotelListFault" element="tns:getHotelsFault"/>
    </message>
    <message name="NiceViewOperationRequest1">
        <part name="input2" element="tns:cancelHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse1">
        <part name="output" element="tns:cancelHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest2">
        <part name="input3" element="tns:bookHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse2">
        <part name="part1" element="tns:bookHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest4">
        <part name="input1" element="tns:getHotelInputs"/>
    </message>
    <message name="NiceViewOperationResponse4">
        <part name="output1" element="tns:getHotelsOutput"/>
    </message>
    <portType name="NiceViewPort">
        <operation name="cancelHotel">
            <input name="input3" message="tns:NiceViewOperationRequest1"/>
            <output name="output3" message="tns:NiceViewOperationResponse1"/>
            <fault name="cancelHotelFault" message="tns:CancelHotelFault"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:NiceViewOperationRequest2"/>
            <output name="output2" message="tns:NiceViewOperationResponse2"/>
            <fault name="bookHotelFault" message="tns:BookHotelFault"/>
        </operation>
        <operation name="getHotelsList">
            <input name="input1" message="tns:NiceViewOperationRequest4"/>
            <output name="output1" message="tns:NiceViewOperationResponse4"/>
            <fault name="getHotelListFault" message="tns:GetHotelListFault"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="NiceView">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="bookHotelPortRole" portType="tns:bookHotelPort"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="NiceView2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewPortTypeRole" portType="tns:CancelHotelPort"/>
    </plnk:partnerLinkType>
</definitions>