TravelGoodsREST/src/conf/xml-resources/web-service-references/NiceViewService/wsdl/localhost_8080/NiceView/NiceViewService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://NiceView.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://NiceView.WS">

<xs:element name="bookHotelFault" type="xs:string"/>

<xs:element name="bookHotelInput" type="tns:bookHotelInput"/>

<xs:element name="bookHotelOutput" type="xs:boolean"/>

<xs:element name="cancelHotelFault" type="xs:string"/>

<xs:element name="cancelHotelInput" type="xs:string"/>

<xs:element name="cancelHotelOutput" type="xs:boolean"/>

<xs:element name="getHotelInputs" type="tns:getHotelInput"/>

<xs:element name="getHotelsFault" type="xs:string"/>

<xs:element name="getHotelsOutput" type="tns:getHotelOutput"/>

<xs:complexType name="expDate">
<xs:sequence>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelType">
<xs:sequence>
<xs:element name="hotelName" type="xs:string"/>
<xs:element name="adress" type="xs:string"/>
<xs:element name="bookingNR" type="xs:string"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="creditCardNeeded" type="xs:boolean"/>
<xs:element name="reservationService" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HotelInformationList">
<xs:sequence>
<xs:element name="HotelInformation" type="tns:HotelInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HotelInformation">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="city" type="xs:string"/>
<xs:element name="bookingNR" type="xs:string"/>
<xs:element name="pricePerNight" type="xs:double"/>
<xs:element name="adress" type="xs:string"/>
<xs:element name="CreditCardReqiured" type="xs:boolean"/>
<xs:element name="HotelReservationService" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelInput">
<xs:sequence>
<xs:element name="city" type="xs:string"/>
<xs:element name="arrival" type="xs:date"/>
<xs:element name="departure" type="xs:date"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelOutput">
<xs:sequence>
<xs:element name="hotelType" type="tns:hotelType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCardInformation">
<xs:sequence>
<xs:element name="holderName" type="xs:string"/>
<xs:element name="8digitNumber" type="xs:string"/>
<xs:element name="expDate" type="tns:expDate"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotelInput">
<xs:sequence>
<xs:element name="bookingNR" type="xs:string"/>
<xs:element name="CreditCardInformation" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>