TravelGoodsREST/src/conf/xml-resources/web-service-references/NiceViewService/wsdl/localhost_8080/NiceView/NiceViewService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://NiceView.WS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://NiceView.WS" name="NiceViewService">
<types>
<xsd:schema>
<xsd:import namespace="http://NiceView.WS" schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1"/>
</xsd:schema>
</types>
<message name="cancelHotel">
<part name="input2" element="tns:cancelHotelInput"/>
</message>
<message name="cancelHotelResponse">
<part name="output" element="tns:cancelHotelOutput"/>
</message>
<message name="CancelHotelFault">
<part name="fault" element="tns:cancelHotelFault"/>
</message>
<message name="bookHotel">
<part name="input3" element="tns:bookHotelInput"/>
</message>
<message name="bookHotelResponse">
<part name="part1" element="tns:bookHotelOutput"/>
</message>
<message name="BookHotelFault">
<part name="fault" element="tns:bookHotelFault"/>
</message>
<message name="getHotelsList">
<part name="input1" element="tns:getHotelInputs"/>
</message>
<message name="getHotelsListResponse">
<part name="output1" element="tns:getHotelsOutput"/>
</message>
<message name="GetHotelListFault">
<part name="fault" element="tns:getHotelsFault"/>
</message>
<portType name="NiceViewPort">
<operation name="cancelHotel">
<input wsam:Action="cancelHotel_action" message="tns:cancelHotel"/>
<output wsam:Action="http://NiceView.WS/NiceViewPort/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:CancelHotelFault" name="CancelHotelFault" wsam:Action="http://NiceView.WS/NiceViewPort/cancelHotel/Fault/CancelHotelFault"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="bookHotel_action" message="tns:bookHotel"/>
<output wsam:Action="http://NiceView.WS/NiceViewPort/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:BookHotelFault" name="BookHotelFault" wsam:Action="http://NiceView.WS/NiceViewPort/bookHotel/Fault/BookHotelFault"/>
</operation>
<operation name="getHotelsList">
<input wsam:Action="getHotelsList_action" message="tns:getHotelsList"/>
<output wsam:Action="http://NiceView.WS/NiceViewPort/getHotelsListResponse" message="tns:getHotelsListResponse"/>
<fault message="tns:GetHotelListFault" name="GetHotelListFault" wsam:Action="http://NiceView.WS/NiceViewPort/getHotelsList/Fault/GetHotelListFault"/>
</operation>
</portType>
<binding name="NiceViewPortBinding" type="tns:NiceViewPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cancelHotel">
<soap:operation soapAction="cancelHotel_action"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CancelHotelFault">
<soap:fault name="CancelHotelFault" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction="bookHotel_action"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookHotelFault">
<soap:fault name="BookHotelFault" use="literal"/>
</fault>
</operation>
<operation name="getHotelsList">
<soap:operation soapAction="getHotelsList_action"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GetHotelListFault">
<soap:fault name="GetHotelListFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="NiceViewService">
<port name="NiceViewPort" binding="tns:NiceViewPortBinding">
<soap:address location="http://localhost:8080/NiceView/NiceViewService"/>
</port>
</service>
</definitions>