TravelAgencySoapBpel/src/TravelAgency.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelAgency" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency">
            
            
            <xsd:complexType name="hotelType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"/>
                     <xsd:element name="adress" type="xsd:string"/>
                      <xsd:element name="bookingNR" type="xsd:string"/>
                       <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelInput">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrival" type="xsd:date"/>
                    <xsd:element name="departure" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelInputs" type="tns:getHotelInput"/>
            <xsd:complexType name="getHotelOutput">
                <xsd:sequence>
                    <xsd:element name="hotelType" type="tns:hotelType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expDate" type="tns:expDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"/>
            <xsd:element name="bookHotelFault" type="xsd:string"/>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"/>
            <xsd:complexType name="expDate">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"/>
                    <xsd:element name="year" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsFault" type="xsd:string"/>
            <xsd:complexType name="bookHotelInput">
                <xsd:sequence>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="creditCardInformation" type="tns:creditCardInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelInput" type="tns:bookHotelInput"/>
            <xsd:element name="cancelHotelInput" type="xsd:string"/>
            <xsd:element name="getHotelsOutput" type="tns:getHotelOutput"/>
            <xsd:complexType name="HotelInformation">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="pricePerNight" type="xsd:double"/>
                    <xsd:element name="adress" type="xsd:string"/>
                    <xsd:element name="CreditCardReqiured" type="xsd:boolean"/>
                    <xsd:element name="HotelReservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInformationList">
                <xsd:sequence>
                    <xsd:element name="HotelInformation" type="tns:HotelInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            
                 <xsd:complexType name="flightInformation">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:int"/>
                    <xsd:element name="nameAirline" type="xsd:string"/>
                    <xsd:element name="flight" type="tns:flight"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="destination" type="xsd:string"/>
                    <xsd:element name="carrier" type="xsd:string"/>
                    <xsd:element name="liftOffTime" type="xsd:date"/>
                    <xsd:element name="landingTime" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlightsInput">
                <xsd:sequence>
                    <xsd:element name="flightDate" type="xsd:date"/>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="destination" type="xsd:string"/>
                    
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlightsOutput">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:flightInformation" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFlighsInputElement" type="tns:getFlightsInput"/>
            <xsd:element name="getFlightsOutputElement" type="tns:getFlightsOutput"/>
            <xsd:complexType name="bookFlightInput">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="creditCardDetails" type="tns:creditCardDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardDetails">
                <xsd:sequence>
                    <xsd:element name="holdersName" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expirationDate" type="tns:expirationDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFlightInputElement" type="tns:bookFlightInput"/>
            <xsd:element name="bookFlightOutputElement" type="xsd:boolean"/>
            <xsd:element name="bookFlightFaultElement" type="xsd:string"/>
            <xsd:element name="cancelFlightFaultElement" type="xsd:string"/>
            <xsd:complexType name="cancelFlightInput">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="creditCardDetails" type="tns:creditCardDetails"/>
                    <xsd:element name="price" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cancelFlightInputElement" type="tns:cancelFlightInput"/>
            <xsd:element name="cancelFlightOutputElement" type="xsd:boolean"/>
            <xsd:complexType name="expirationDate">
                <xsd:sequence>
                    <xsd:element name="year" type="xsd:int"/>
                    <xsd:element name="month" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createItineraryInput" type="xsd:string"></xsd:element>
            <xsd:element name="createItineraryOutput" type="xsd:int"></xsd:element>
            <xsd:complexType name="itinerary">
                <xsd:sequence>
                    <xsd:element name="hotelArray" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="hotelType" type="tns:hotelType"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="flightArray" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="flightInformation" type="tns:flightInformation"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addFlightToItineraryInput">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:flightInformation"></xsd:element>
                    <xsd:element name="itineraryId" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addHotelToItineraryInput">
                <xsd:sequence>
                    <xsd:element name="hotelType" type="tns:hotelType"></xsd:element>
                    <xsd:element name="itineraryId" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addFlightToItineraryInput" type="tns:addFlightToItineraryInput"></xsd:element>
            <xsd:element name="itineraryOutput" type="tns:itinerary"></xsd:element>
            <xsd:element name="itineraryInput" type="xsd:int"></xsd:element>
            <xsd:element name="transaction" type="xsd:boolean"></xsd:element>
            <xsd:complexType name="itineraryStatus">
                <xsd:sequence>
                    <xsd:element name="hotelArray" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="hotelType" type="tns:hotelType"></xsd:element>
                                <xsd:element name="booked" type="xsd:boolean"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="flightArray" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="flightInformation" type="tns:flightInformation"></xsd:element>
                                <xsd:element name="booked" type="xsd:boolean"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getItineraryStatusOutput" type="tns:itineraryStatus"></xsd:element>
            <xsd:element name="addHotelToItineraryInput" type="tns:addHotelToItineraryInput"></xsd:element>
        </xsd:schema>
        
     
    </types>
    <message name="GetHotelsRequest">
        <part name="request" element="tns:getHotelInputs"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="response" element="tns:getHotelsOutput"/>
    </message>
    <message name="CreateItineraryRequest">
        <part name="ItineraryRequest" element="tns:createItineraryInput"/>
    </message>
    <message name="CreateItineraryResponse">
        <part name="ItineraryResponse" element="tns:createItineraryInput"/>
    </message>
    <message name="AddHotelToItineraryRequest">
        <part name="addHotelToItineraryInput" element="tns:addHotelToItineraryInput"/>
    </message>
    <message name="AddHotelToItineraryResponse">
        <part name="addHotelToItineraryOutput" element="tns:itineraryOutput"/>
    </message>
    <message name="AddFlightToItineraryRequest">
        <part name="AddFlightToItineraryInput" element="tns:addFlightToItineraryInput"/>
    </message>
    <message name="AddFlightToItineraryResponse">
        <part name="AddFlightToItineraryOutput" element="tns:itineraryOutput"/>
    </message>
    <message name="bookItineraryRequest">
        <part name="request" element="tns:itineraryInput"/>
    </message>
    <message name="bookItineraryResponse">
        <part name="part1" element="tns:transaction"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="request" element="tns:itineraryInput"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="response" element="tns:transaction"/>
    </message>
    <message name="CancelPlanRequest">
        <part name="request" element="tns:itineraryInput"/>
    </message>
    <message name="CancelPlanResponse">
        <part name="response" element="tns:transaction"/>
    </message>
    <message name="getItineraryStatusRequest">
        <part name="request" element="tns:itineraryInput"/>
    </message>
    <message name="getItineraryStatusResponse">
        <part name="response" element="tns:getItineraryStatusOutput"/>
    </message>
    <message name="getFlightsRequest">
        <part name="request" element="tns:getFlighsInputElement"/>
    </message>
    <message name="getFlightsResponse">
        <part name="response" element="tns:getFlightsOutputElement"/>
    </message>
    <portType name="TravelAgencyPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:GetHotelsRequest"/>
            <output name="output1" message="tns:GetHotelsResponse"/>
        </operation>
        <operation name="createItinerary">
            <input name="input2" message="tns:CreateItineraryRequest"/>
            <output name="output2" message="tns:CreateItineraryResponse"/>
        </operation>
        <operation name="addHotelToItinerary">
            <input name="input3" message="tns:AddHotelToItineraryRequest"/>
            <output name="output3" message="tns:AddHotelToItineraryResponse"/>
        </operation>
        <operation name="AddFlightToItinerary">
            <input name="input4" message="tns:AddFlightToItineraryRequest"/>
            <output name="output4" message="tns:AddFlightToItineraryResponse"/>
        </operation>
        <operation name="bookItinerary">
            <input name="input5" message="tns:bookItineraryRequest"/>
            <output name="output5" message="tns:bookItineraryResponse"/>
        </operation>
        <operation name="CancelItinerary">
            <input name="input6" message="tns:cancelItineraryRequest"/>
            <output name="output6" message="tns:cancelItineraryResponse"/>
        </operation>
        <operation name="getItineraryStatus">
            <input name="input7" message="tns:getItineraryStatusRequest"/>
            <output name="output7" message="tns:getItineraryStatusResponse"/>
        </operation>
        <operation name="cancelPlan">
            <input name="input8" message="tns:CancelPlanRequest"/>
            <output name="output8" message="tns:CancelPlanResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input9" message="tns:getFlightsRequest"/>
            <output name="output9" message="tns:getFlightsResponse"/>
        </operation>
    </portType>
    <binding name="TravelAgencyPortTypeBinding" type="tns:TravelAgencyPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addHotelToItinerary">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddFlightToItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookItinerary">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal"/>
            </input>
            <output name="output5">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CancelItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal"/>
            </input>
            <output name="output6">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getItineraryStatus">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal"/>
            </input>
            <output name="output7">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelPlan">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal"/>
            </input>
            <output name="output8">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input9">
                <soap:body use="literal"/>
            </input>
            <output name="output9">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TravelAgencyService">
        <port name="TravelAgencyPortTypeBindingPort" binding="tns:TravelAgencyPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelAgency">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelAgencyPortTypeRole" portType="tns:TravelAgencyPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryId" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:AddHotelToItineraryRequest" part="addHotelToItineraryInput"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:AddFlightToItineraryRequest" part="AddFlightToItineraryInput"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:bookItineraryRequest" part="request"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:cancelItineraryRequest" part="request"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:CancelPlanRequest" part="request"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:getItineraryStatusRequest" part="request"/>
</definitions>
