NiseView/src/conf/xml-resources/web-services/niceViewService/wsdl/NiceView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceView" targetNamespace="http://NiceView.WS"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NiceView.WS" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://NiceView.WS" xmlns:tns="http://NiceView.WS">
            <xsd:element name="cancelHotelFault" type="xsd:string"></xsd:element>
            <xsd:complexType name="hotelType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"></xsd:element>
                     <xsd:element name="adress" type="xsd:string"></xsd:element>
                      <xsd:element name="bookingNR" type="xsd:string"></xsd:element>
                       <xsd:element name="totalPrice" type="xsd:double"></xsd:element>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"></xsd:element>
                    <xsd:element name="reservationService" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelInput">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="arrival" type="xsd:date"></xsd:element>
                    <xsd:element name="departure" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelInputs" type="tns:getHotelInput"></xsd:element>
            <xsd:complexType name="hotelListType">
                <xsd:sequence>
                    <xsd:element name="newElement" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelOutput" type="tns:hotelListType"></xsd:element>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"></xsd:element>
                    <xsd:element name="8digitNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="expirtationDate" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNR" type="xsd:string"></xsd:element>
                        <xsd:element name="creditCardInformation" type="tns:creditCardInformation"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"></xsd:element>
            <xsd:element name="bookHotelFault" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNr" type="xsd:string"></xsd:element>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"></xsd:element>
        </xsd:schema>
    </types>
    <message name="NiceViewOperationRequest">
        <part name="getHotelInputs" element="tns:getHotelInputs"/>
    </message>
    <message name="NiceViewOperationResponse">
        <part name="getHotelOutput" element="tns:getHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest2">
        <part name="bookHotelInput" element="tns:bookHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse2">
        <part name="bookHotelOutput" element="tns:bookHotelOutput"/>
    </message>
    <message name="NiceViewOperationRequest1">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="NiceViewOperationResponse1"/>
    <message name="NiceViewOperationRequest3">
        <part name="bookHotelInput" element="tns:bookHotelInput"/>
    </message>
    <message name="NiceViewOperationResponse3">
        <part name="bootHotelOutput" element="tns:bookHotelOutput"/>
    </message>
    <message name="BookHotelFault">
        <part name="bookHotelFault" element="tns:bookHotelFault"/>
    </message>
    <message name="CancelHotelFault">
        <part name="cancelHotelFault" element="tns:cancelHotelFault"/>
    </message>
    <message name="NiceViewOperationRequest4">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="NiceViewOperationRequest5">
        <part name="bookingNr" type="xsd:string"/>
    </message>
    <message name="NiceViewOperationResponse4">
        <part name="output" type="xsd:boolean"/>
    </message>
    <message name="NiceViewOperationRequest6">
        <part name="bookingNr" element="tns:bookingNr"/>
    </message>
    <message name="NiceViewOperationResponse5">
        <part name="output" element="tns:cancelHotelFault"/>
    </message>
    <message name="NiceViewOperationRequest7">
        <part name="bookingNr" element="tns:bookingNr"/>
    </message>
    <message name="NiceViewOperationResponse6">
        <part name="part1" element="tns:bookHotelOutput"/>
    </message>
    <portType name="NiceViewPort">
        <operation name="getHotelList">
            <input name="input1" message="tns:NiceViewOperationRequest"/>
            <output name="output1" message="tns:NiceViewOperationResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:NiceViewOperationRequest3"/>
            <output name="output2" message="tns:NiceViewOperationResponse3"/>
            <fault name="bookHotelFault" message="tns:BookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:NiceViewOperationRequest7"/>
            <output name="output3" message="tns:NiceViewOperationResponse6"/>
            <fault name="cancelHotelFault" message="tns:CancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortBinding" type="tns:NiceViewPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotelList">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelFault">
                <soap:fault name="bookHotelFault" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelFault">
                <soap:fault name="cancelHotelFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPortBindingPort" binding="tns:NiceViewPortBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NiceView">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="bookHotelPortRole" portType="tns:bookHotelPort"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="NiceView2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewPortTypeRole" portType="tns:CancelHotelPort"/>
    </plnk:partnerLinkType>
</definitions>
