MainTests/xml-resources/web-service-references/service/wsdl/localhost_9080/service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelAgency" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency">
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelAgencySoapBpel/src/TravelAgency">
            
            
            <xsd:complexType name="hotelType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"/>
                     <xsd:element name="adress" type="xsd:string"/>
                      <xsd:element name="bookingNR" type="xsd:string"/>
                       <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="hotelTypeWithStatus">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotelName" type="xsd:string"/>
                     <xsd:element name="adress" type="xsd:string"/>
                      <xsd:element name="bookingNR" type="xsd:string"/>
                       <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="creditCardNeeded" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelInput">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrival" type="xsd:date"/>
                    <xsd:element name="departure" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelOutput">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelType" type="tns:hotelType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holderName" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expDate" type="tns:expDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelOutput" type="xsd:boolean"/>
            <xsd:element name="bookHotelFault" type="xsd:string"/>
            <xsd:element name="cancelHotelOutput" type="xsd:boolean"/>
            <xsd:complexType name="expDate">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"/>
                    <xsd:element name="year" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsFault" type="xsd:string"/>
            <xsd:complexType name="bookHotelInput">
                <xsd:sequence>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="creditCardInformation" type="tns:creditCardInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelInput" type="tns:bookHotelInput"/>
            <xsd:element name="cancelHotelInput" type="xsd:string"/>
            <xsd:element name="getHotelsOutput" type="tns:getHotelOutput"/>
            <xsd:complexType name="HotelInformation">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="bookingNR" type="xsd:string"/>
                    <xsd:element name="pricePerNight" type="xsd:double"/>
                    <xsd:element name="adress" type="xsd:string"/>
                    <xsd:element name="CreditCardReqiured" type="xsd:boolean"/>
                    <xsd:element name="HotelReservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInformationList">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="HotelInformation" type="tns:HotelInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            
            
                 <xsd:complexType name="flightInformation">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:int"/>
                    <xsd:element name="nameAirline" type="xsd:string"/>
                    <xsd:element name="flight" type="tns:flight"/>
                </xsd:sequence>
            </xsd:complexType>
            
              <xsd:complexType name="flightInformationWithStatus">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:int"/>
                    <xsd:element name="nameAirline" type="xsd:string"/>
                     <xsd:element name="status" type="xsd:string"/>
                    <xsd:element name="flight" type="tns:flight"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="destination" type="xsd:string"/>
                    <xsd:element name="carrier" type="xsd:string"/>
                    <xsd:element name="liftOffTime" type="xsd:date"/>
                    <xsd:element name="landingTime" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlightsInput">
                <xsd:sequence>
                    <xsd:element name="flightDate" type="xsd:date"/>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="destination" type="xsd:string"/>
                    
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFlightsOutput">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightInformation" type="tns:flightInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFlightsOutputElement" type="tns:getFlightsOutput"/>
            <xsd:complexType name="bookFlightInput">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="creditCardDetails" type="tns:creditCardDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardDetails">
                <xsd:sequence>
                    <xsd:element name="holdersName" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expirationDate" type="tns:expirationDate"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFlightInputElement" type="tns:bookFlightInput"/>
            <xsd:element name="bookFlightOutputElement" type="xsd:boolean"/>
            <xsd:element name="bookFlightFaultElement" type="xsd:string"/>
            <xsd:element name="cancelFlightFaultElement" type="xsd:string"/>
            <xsd:complexType name="cancelFlightInput">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="creditCardDetails" type="tns:creditCardDetails"/>
                    <xsd:element name="price" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cancelFlightInputElement" type="tns:cancelFlightInput"/>
            <xsd:element name="cancelFlightOutputElement" type="xsd:boolean"/>
            <xsd:complexType name="expirationDate">
                <xsd:sequence>
                    <xsd:element name="year" type="xsd:int"/>
                    <xsd:element name="month" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createItineraryInput" type="xsd:string"/>
            <xsd:element name="createItineraryOutput" type="xsd:int"/>
            <xsd:complexType name="itinerary">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelArray">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="hotelType" type="tns:hotelType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightArray">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="flightInformation" type="tns:flightInformation"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addFlightToItineraryInput">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:flightInformation"/>
                    <xsd:element name="itineraryId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addHotelToItineraryInput">
                <xsd:sequence>
                    <xsd:element name="hotelType" type="tns:hotelType"/>
                    <xsd:element name="itineraryId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addFlightToItineraryInput" type="tns:addFlightToItineraryInput"/>
            <xsd:element name="itineraryOutput" type="tns:itinerary"/>
            <xsd:element name="transaction" type="xsd:boolean"/>
            <xsd:complexType name="itineraryStatus">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="hotelArray">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelTypeWithStatus" type="tns:hotelTypeWithStatus"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="flightArray">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightInformationWithStatus" type="tns:flightInformationWithStatus"/>
                               
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getItineraryStatusOutput" type="tns:itineraryStatus"/>
            <xsd:element name="addHotelToItineraryInput" type="tns:addHotelToItineraryInput"/>
            <xsd:element name="itineraryInput" type="xsd:string"/>
            <xsd:complexType name="getTravelHotelInput">
                <xsd:sequence>
                    <xsd:element name="itineraryId" type="xsd:string"/>
                    <xsd:element name="getHotelInput" type="tns:getHotelInput"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getTravelFlightInput">
                <xsd:sequence>
                    <xsd:element name="itineraryId" type="xsd:string"/>
                    <xsd:element name="getFlightsInput" type="tns:getFlightsInput"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelInput" type="tns:getHotelInput"/>
            <xsd:element name="getFlightsInput" type="tns:getFlightsInput"/>
            <xsd:element name="getTravelHotellInputElement" type="tns:getTravelHotelInput"/>
            <xsd:element name="getTravelFlightInputElement" type="tns:getTravelFlightInput"/>
            <xsd:element name="cancelItineraryInput" type="xsd:string"/>
            <xsd:element name="getItineraryStatusInput" type="xsd:string"/>
            <xsd:element name="cancelPlanInput" type="xsd:string"/>
            <xsd:element name="bookItineraryInput" type="xsd:string"/>
        </xsd:schema>
  </types>
  <message name="AddFlightToItineraryRequest">
    <part element="tns:addFlightToItineraryInput" name="AddFlightToItineraryInput">
    </part>
  </message>
  <message name="bookItineraryResponse">
    <part element="tns:transaction" name="part1">
    </part>
  </message>
  <message name="CancelPlanRequest">
    <part element="tns:cancelPlanInput" name="request">
    </part>
  </message>
  <message name="getFlightsResponse">
    <part element="tns:getFlightsOutputElement" name="output">
    </part>
  </message>
  <message name="GetHotelsResponse">
    <part element="tns:getHotelsOutput" name="output">
    </part>
  </message>
  <message name="CreateItineraryRequest">
    <part element="tns:createItineraryInput" name="ItineraryRequest">
    </part>
  </message>
  <message name="AddHotelToItineraryRequest">
    <part element="tns:addHotelToItineraryInput" name="addHotelToItineraryInput">
    </part>
  </message>
  <message name="cancelItineraryRequest">
    <part element="tns:cancelItineraryInput" name="request">
    </part>
  </message>
  <message name="GetHotelsRequest">
    <part element="tns:getTravelHotellInputElement" name="input">
    </part>
  </message>
  <message name="CreateItineraryResponse">
    <part element="tns:createItineraryInput" name="ItineraryResponse">
    </part>
  </message>
  <message name="AddHotelToItineraryResponse">
    <part element="tns:getItineraryStatusOutput" name="addHotelToItineraryOutput">
    </part>
  </message>
  <message name="AddFlightToItineraryResponse">
    <part element="tns:getItineraryStatusOutput" name="AddFlightToItineraryOutput">
    </part>
  </message>
  <message name="getItineraryStatusResponse">
    <part element="tns:getItineraryStatusOutput" name="response">
    </part>
  </message>
  <message name="bookItineraryRequest">
    <part element="tns:bookItineraryInput" name="request">
    </part>
  </message>
  <message name="CancelPlanResponse">
    <part element="tns:transaction" name="response">
    </part>
  </message>
  <message name="cancelItineraryResponse">
    <part element="tns:transaction" name="response">
    </part>
  </message>
  <message name="getItineraryStatusRequest">
    <part element="tns:getItineraryStatusInput" name="request">
    </part>
  </message>
  <message name="getFlightsRequest">
    <part element="tns:getTravelFlightInputElement" name="input">
    </part>
  </message>
  <portType name="TravelAgencyPortType">
    <operation name="createItinerary">
      <input message="tns:CreateItineraryRequest" name="input2">
    </input>
      <output message="tns:CreateItineraryResponse" name="output2">
    </output>
    </operation>
    <operation name="addHotelToItinerary">
      <input message="tns:AddHotelToItineraryRequest" name="input3">
    </input>
      <output message="tns:AddHotelToItineraryResponse" name="output3">
    </output>
    </operation>
    <operation name="AddFlightToItinerary">
      <input message="tns:AddFlightToItineraryRequest" name="input4">
    </input>
      <output message="tns:AddFlightToItineraryResponse" name="output4">
    </output>
    </operation>
    <operation name="bookItinerary">
      <input message="tns:bookItineraryRequest" name="input5">
    </input>
      <output message="tns:bookItineraryResponse" name="output5">
    </output>
    </operation>
    <operation name="CancelItinerary">
      <input message="tns:cancelItineraryRequest" name="input6">
    </input>
      <output message="tns:cancelItineraryResponse" name="output6">
    </output>
    </operation>
    <operation name="getItineraryStatus">
      <input message="tns:getItineraryStatusRequest" name="input7">
    </input>
      <output message="tns:getItineraryStatusResponse" name="output7">
    </output>
    </operation>
    <operation name="cancelPlan">
      <input message="tns:CancelPlanRequest" name="input8">
    </input>
      <output message="tns:CancelPlanResponse" name="output8">
    </output>
    </operation>
    <operation name="getFlights">
      <input message="tns:getFlightsRequest" name="input1">
    </input>
      <output message="tns:getFlightsResponse" name="output1">
    </output>
    </operation>
    <operation name="getHotels">
      <input message="tns:GetHotelsRequest" name="input9">
    </input>
      <output message="tns:GetHotelsResponse" name="output9">
    </output>
    </operation>
  </portType>
  <binding name="TravelAgencyPortTypeBinding" type="tns:TravelAgencyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItinerary">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal"/>
      </input>
      <output name="output2">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHotelToItinerary">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal"/>
      </input>
      <output name="output3">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddFlightToItinerary">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal"/>
      </input>
      <output name="output4">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookItinerary">
      <soap:operation/>
      <input name="input5">
        <soap:body use="literal"/>
      </input>
      <output name="output5">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelItinerary">
      <soap:operation/>
      <input name="input6">
        <soap:body use="literal"/>
      </input>
      <output name="output6">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getItineraryStatus">
      <soap:operation/>
      <input name="input7">
        <soap:body use="literal"/>
      </input>
      <output name="output7">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelPlan">
      <soap:operation/>
      <input name="input8">
        <soap:body use="literal"/>
      </input>
      <output name="output8">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFlights">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal"/>
      </input>
      <output name="output1">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getHotels">
      <soap:operation/>
      <input name="input9">
        <soap:body use="literal"/>
      </input>
      <output name="output9">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TravelAgencyService">
    <port binding="tns:TravelAgencyPortTypeBinding" name="TravelAgencyPortTypeBindingPort">
      <soap:address location="http://DESKTOP-GD2FLL1.eduroam.wireless.dtu.dk:9080/service"/>
    </port>
  </service>
    <vprop:property name="itineraryId" type="xsd:string"/>
    <vprop:propertyAlias messageType="tns:getFlightsRequest" part="input" propertyName="tns:itineraryId">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:GetHotelsRequest" part="input" propertyName="tns:itineraryId">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:CreateItineraryResponse" part="ItineraryResponse" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:AddHotelToItineraryRequest" part="addHotelToItineraryInput" propertyName="tns:itineraryId">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:AddFlightToItineraryRequest" part="AddFlightToItineraryInput" propertyName="tns:itineraryId">
        <vprop:query>itineraryId</vprop:query>
    </vprop:propertyAlias>
</definitions>
